html {
  font-family: helvetica;
  font-size: 18px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main-section {
  width:100%;
}

body{
  background-attachment: fixed;
}

/*nav*/
header {
  display:inline-block;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 6px 10px #1c2b2173;
  background-image: url(../images/banner.jpg);
  background-position: bottom;
  text-align: center;
}

header h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-shadow: 0px 5px 3px #c5c6c7;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 700;
  font-size: 4rem;
}

nav {

}

nav span {
  padding:.5rem .5rem 0rem .5rem;
  font-size: 1.1rem;
}

ul span:hover {
  border-bottom: solid 5px white;
}

/*Info Section*/
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.8rem 1rem 0rem 1rem;
  background-color: #eaead16b;
}

.flex-container {
  display:flex;
}

.blurb {
  text-align: center;
  width: 25%;
  height: auto;
}

.course-section li {
  padding: .25rem 0rem;
}

.course-section ul {
   list-style-type: circle;
}

/*Projects*/
.projects-section {
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 4.5rem;
  position: relative;
  overflow: hidden;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: 1920px;
  box-shadow: 10px 0px 10px 4px rgba(0,0,0,0.3);
}


.projects-section h1 {
  font-size: 2.5rem;
  text-shadow: 0px 2px 3px #02020285;
}

.project-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: white;
  margin: 1rem 1rem;
  width: 30%;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
}

.img-container img {
  width: 100%;
}

/*Hover*/
.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(167, 183, 193, 0.68);
  color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  text-align: center;
  font-size: 1.87rem;
  font-weight: 400;
  padding-top: 6.5rem;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

/*Contact*/

.contact {
  padding: 2rem 0rem;
  background-color: #eaead16b;
  text-align: center;
}
